# =========================
# Datasets (VERY IMPORTANT)
# =========================
*.csv
*.xpt

# =========================
# Jupyter & Python
# =========================
*.ipynb
__pycache__/
*.pyc

# =========================
# Virtual environments
# =========================
venv/
.env/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db
